<% set_title_and_breadcrumb t('category.edit', :title => @category.title) %>

<h1><%= @category.title %></h1>

<%= form_for :category,  :url => admin_category_path(@category.id), :html => {:method => :put, :id => "admin-form"} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end  %>
