<% set_title_and_breadcrumb t('category.new') %>

<h1><%= t('category.new') %></h1>

<%= form_for :category,  :url => admin_categories_url, :html => {:method => :post, :id => "admin-form"} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end  %>
